# OS files
.DS_Store
Thumbs.db

# IDE and editor folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependency directories
node_modules/
venv/
env/
__pycache__/

# Build outputs
dist/
build/
*.log 